In [53]:
#Dependcy
import pandas as pd
import os

#load files
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "clean_students_complete.csv")

#Read school data file and store in Padas
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)
#Missing Values?

student_data_df.notnull().sum()

Unnamed: 0       39170
Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [54]:
#Read student data file
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [55]:
#add prefixes and suffixes fixer
prefixes_suffixes = ["Dr.","Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " Phd" ]
#iterate through prefixes_suffixes
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")
print(student_data_df)

       Unnamed: 0  Student ID     student_name gender grade  \
0               0           0     Paul Bradley      M   9th
1               1           1     Victor Smith      M  12th
2               2           2  Kevin Rodriguez      M  12th
3               3           3    Richard Scott      M  12th
4               4           4       Bonnie Ray      F   9th
...           ...         ...              ...    ...   ...
39165       39165       39165     Donna Howard      F  12th
39166       39166       39166        Dawn Bell      F  10th
39167       39167       39167   Rebecca Tanner      F   9th
39168       39168       39168     Desiree Kidd      F  10th
39169       39169       39169  Carolyn Jackson      F  11th

              school_name  reading_score  math_score
0       Huang High School             66          79
1       Huang High School             94          61
2       Huang High School             90          60
3       Huang High School             67          58
4       Huang High School             97          84
...                   ...            ...         ...
39165  Thomas High School             99          90
39166  Thomas High School             95          70
39167  Thomas High School             73          84
39168  Thomas High School             99          90
39169  Thomas High School             95          75

[39170 rows x 8 columns]

C:\Users\spoot\AppData\Local\Temp\ipykernel_39548\4119063076.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

In [56]:
#Combine the data into a single dataset.

school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()
school_count = school_data_df["school_name"].count()
school_count
school_count_2 = school_data_complete_df["school_name"].unique()
school_count_2
total_budget = school_data_df["budget"].sum()
total_budget
# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [57]:
# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

In [63]:
# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()

# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()

print(passing_math_count)
print(passing_reading_count)

student_count = school_data_complete_df["Student ID"].count()
student_count
# Calculate the percent that passed math.
passing_math_percentage = passing_math_count / float(student_count) * 100

# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / float(student_count) * 100

print(passing_math_percentage)
print(passing_reading_percentage)

passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >=70) & (school_data_complete_df["reading_score"] >= 70)]
 
# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count
# Calculate the overall passing percentage.
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

29370
33610
74.9808526933878
85.80546336482001

65.17232575950983

In [82]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])

# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

In [83]:
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)
# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65